/* Show it's not fixed to the top */
body {
  min-height: 75rem;
}

h1,h2,h3,h4,h5,h6 {
    font-family: 'Patrick Hand SC', cursive;
}

a {
    color: #000000;
  text-decoration: none;
  background-color: transparent;
}