{% load static %}
<!doctype html>
<html lang="pl">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="icon" href="{%  static 'favicon/favicon.ico' %}">

    <title>KNA</title>

    <link href="https://fonts.googleapis.com/css2?family=Patrick+Hand+SC&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/276f43c6aa.js" crossorigin="anonymous"></script>

    {% include 'head_css.html' %}
  </head>
  <body>
    {% include 'navbar.html' %}

{#    {% block jumbotron %}{% endblock %}#}

    {% block content %}{% endblock %}
  </body>
</html>
